body {
    padding-top: 50px;
    padding-bottom: 40px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.navbar-inner {
    padding: 5px 0;
}


/***************************** 
*   PUBLIC SECTION
******************************/


/* Generic style */

#public h1 {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 10px;
    font-weight: 300;
}

#public h1.logo {
    font-size: 38px;
}

#public h3 {
    font-weight: 300;
}


/* Container style */

#public .container-narrow {
    margin: 0 auto;
    max-width: 960px;
}

#public .span3 {
    width: 230px;
    margin-left: 50px;
}

#public .span7 {
    width: 680;
}


/* Personal style */

#public p {
    line-height: 25px;
}

#public span.label {
    font-weight: normal;
    padding: 3px 3px 5px;
    font-size: 14px;
}

#public .well-sidebar .nav-list:first-child {
    padding-bottom: 30px;
}

#public .form-search input {
    height: 30px;
    width: 160px;
}

#public li.nav-header {
    padding: 0 0 5px 0;
    font-size: 16px;
    font-weight: 300;
}

#public li.list {
    padding-top: 15px;
}



/***************************** 
*   ADMINISTRATION SECTION
******************************/


/* Login page */

#admin #login {
    background-color: #FFFFFF;
}

#admin #login ul {
    margin: 0 0 0 20px;
}

#admin #login #form input {
    height: 40px;
    width: 100%;
}

#admin #login #form button.btn-medium {
    height: 40px;
    margin-top: 7px;
}


/* General style */

#admin {
    background-color: #F5F5F5;
}

#admin #section {
    width: 100%;
    height: 60px;
    margin-bottom: 30px;
    background-color: #ECEAEA;
    border-bottom: 1px solid #CBCACA;
}

#admin #section h1 {
    font-size: 25px;
    font-weight: 300;
}

#admin .breadcrumb {
    background-color: #ECEAEA;
    border: 1px solid #CBCACA;
    margin: 0 0 30px;
}

#admin .btn-toolbar a {
    margin-right: 5px;
}


/* Table list */

#admin #list .fixed-small {
    width: 130px;
}

#admin #list .fixed-medium {
    width: 200px;
}

#admin #list .fixed-large {
    width: 250px;
}

#admin #list table th, 
#admin #list table td {
    font-size: 14px;
    height: 50px;
    vertical-align: middle;
}

#admin #list table tr:hover {
    background-color: #F9F9F9;
}


/* Form */

#admin #form ul {
    margin: 0 0 0 20px;
}

#admin .control-label {
    float: left;
    vertical-align: middle;
    font-weight: bold;
    padding-top: 2px;
}

#admin .controls {
    vertical-align: middle;
    padding-left: 160px;
    min-height: 35px;
}

#admin #form .control-label {
    padding-top: 8px;
    font-weight: normal;
}

#admin #form .controls input {
    height: 35px;
    margin-bottom: 0px; 
}

#admin #form .controls select {
    height: 35px;
    margin-bottom: 0px; 
    padding: 7px 5px 7px 3px;
}

#admin #form .controls textarea {
    height: 100px;
    width: 620px;
}

#admin #form .controls p.instruction {
    font-size: 12px;
    color: #9B9A9A;
    height: 20px;
    padding: 10px 0 0;
}


/* Sidebar */

#admin #sidebar .well {
    background-color: #ECEAEA;
    border: 1px solid #CBCACA;
}

#admin #sidebar .well ul {
    margin: 0;
}


/* Footer */

#admin #footer {
    margin-top: 30px;
}
